---
layout: default

---

<div class="homepage">
    <div class="hero-text-con" style="position: absolute;width: 100%; font-size: 40px;margin-top: 120px;text-align: center; color: white;text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);">用技术的力量 突破你的渴望
    </div>
    <img src="/images/main-vision.jpeg" style="width: 100%;transform: inherit;z-index: -1;background-repeat: no-repeat;background-position: top center;">
        


    </div>

        <div class="column1">
            <p id="tab1" style="position: relative;display: -webkit-inline-box;font-size: 20px;color: white;padding-top: 15px;font-family: weight;">脑洞核聚变</p>
        </div>


        <div class="column2">
            <p id="tab2" style="position: relative;display: -webkit-inline-box;font-size: 20px;color: white;padding-top: 15px;font-family: weight;">一拾化贝</p>
        </div>
        <div class="column3">
            <p id="tab3" style="position: relative;display: -webkit-inline-box;font-size: 20px;color: white;padding-top: 15px;font-family: weight;">资源草料库</p>
        </div>
        <div class="column4">
            <p  id="tab4" style="position: relative;display: -webkit-inline-box;font-size: 20px;color: white;padding-top: 15px;font-family: weight;">攻城狮文化</p>
        </div>

        <div class="author1">
            <div class="author-portrait1" style="float:left;">
                <img src="/images/xpxp.jpeg" style="width: 50px;height: 50px;margin: auto;background-repeat: no-repeat;background-size: contain;border-radius: 50px;z-index: -1;"></div>
                <div class="author-name1" style="float: left;margin: 10px 40px;color: #1a8ed2;font-size: 20px;" ><a href="http://drmingdrmer.github.io/">张炎泼</a></div>
                <div class="author-introduce1" style="float: left;margin-left: 90px;color: #757575;font-size: 16px;">白山合伙人兼研发副总裁</div>
            </div>

        <div class="author2">
            <div class="author-portrait2" style="float:left;">
                <img src="/images/paulyang.jpeg" style="width: 50px;height: 50px;margin: auto;background-repeat: no-repeat;background-size: contain;border-radius: 50px;z-index: -1;"></div>
                <div class="author-name2" style="float: left;margin: 10px 40px;color: #1a8ed2;font-size: 20px;" ><a href="https://paulyang.cn/">杨洋</a></div>
                <div class="author-introduce2" style=";margin-left: 90px;color: #757575;font-size: 16px;">白山架构师</div>
            </div>

        </div>

    
        <div id="content1" style="display: inline-block;margin-left: 10%;overflow: hidden;margin-right: 30%;">
        {% for post in site.posts %}
            {% if post.column contains "brainhole" %}
                    <div class="naodong-1">
                        <p style="font-size: 14px;color: #757575;padding: 10px 30px 0;margin-bottom: 0;">{{post.author}} , {{ post.date | date: "%b %-d %Y" }} , {{post.tags | join " "}}</p>
                        <p style="font-size: 20px;padding: 0 30px;color: black;"><a href="{{ post.url }}">{{post.title}}</a></p>
                        <div style="font-size: 16px !important; font-color: black; padding: 0 30px; display: inline-block;">
                                {% if post.content contains '<!--more-->' %}
                                {{ post.content }}
                                {% else %}
                                {% endif %}
                        </div>
                    </div>
            
            {% endif %}
        {% endfor %}
        </div>

        <div id="content2" style="display: inline-block;margin-left: 10%;overflow: hidden;margin-right: 30%;">
        {% for post in site.posts %}
            {% if post.column contains "pickup" %}
                <a href="{{ post.url }}">
                    <div class="naodong-1">
                        <p style="font-size: 14px;color: #757575;padding: 10px 30px 0;margin-bottom: 0;">{{post.author}} , {{ post.date | date: "%b %-d %Y" }} , {{post.tags | join " "}}</p>
                        <p style="font-size: 20px;padding: 0 30px;color: black;">{{post.title}}</p>
                        <div style="font-size: 16px !important; font-color: black; padding: 0 30px; display: inline-block;">
                                {% if post.content contains '<!--more-->' %}
                                {{ post.content }}
                                {% else %}
                                {% endif %}
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
        </div>

        <div id="content3" style="display: inline-block;margin-left: 10%;overflow: hidden;margin-right: 30%;">
        {% for post in site.posts %}
            {% if post.column contains "weed" %}
                <a href="{{ post.url }}">
                    <div class="naodong-1">
                        <p style="font-size: 14px;color: #757575;padding: 10px 30px 0;margin-bottom: 0;">{{post.author}} , {{ post.date | date: "%b %-d %Y" }} , {{post.tags | join " "}}</p>
                        <p style="font-size: 20px;padding: 0 30px;color: black;">{{post.title}}</p>
                        <div style="font-size: 16px !important; font-color: black; padding: 0 30px; display: inline-block;">
                                {% if post.content contains '<!--more-->' %}
                                {{ post.content }}
                                {% else %}
                                {% endif %}
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
        </div>
        
        <div id="content4" style="display: inline-block;margin-left: 10%;overflow: hidden;margin-right: 30%;">
        {% for post in site.posts %}
            {% if post.column contains "lion" %}
                <a href="{{ post.url }}">
                    <div class="naodong-1">
                        <p style="font-size: 14px;color: #757575;padding: 10px 30px 0;margin-bottom: 0;">{{post.author}} , {{ post.date | date: "%b %-d %Y" }} , {{post.tags | join " "}}</p>
                        <p style="font-size: 20px;padding: 0 30px;color: black;">{{post.title}}</p>
                        <div style="font-size: 16px !important; font-color: black; padding: 0 30px; display: inline-block;">
                                {% if post.content contains '<!--more-->' %}
                                {{ post.content }}
                                {% else %}
                                {% endif %}
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>



        


<div style="clear: both;"></div>





</div>
