<footer class="footer">
  <div id="gotop">^</div>
  	<div class="icon-weibo">
  		<ul class="icon-tabs">
  			<li class="weibo">
  				<a href="https://weibo.com/p/1006065692037308/home?from=page_100606&mod=TAB#place"><img src="../../images/weibo.png" style="height: 40px;width: 40px;"></a>
  			</li>
  			<li class="weibo">
  				<a href="https://weibo.com/p/1006065692037308/home?from=page_100606&mod=TAB#place"><img src="../../images/weixin.png" style="height: 40px;width: 40px;"></a>
  			</li>
  			<li class="weibo">
  				<a href="http://zh.baishancloud.com/zh/2016/08/01/Contact-Us/"><img src="../../images/callme.png" style="height: 40px;width: 40px;"></a>
  			</li>
			<li class="weibo">
  				<a href="https://www.toutiao.com/c/user/6813232356/#mid=6814845594"><img src="../../images/toutiao.png" style="height: 40px;width: 40px;"></a>
  			</li>
  			</div>
  		</ul>
  	</div>
</footer>
<script src="/scripts/jquery-3.2.1.min.js"></script>
<script src="/scripts/pithy.js"></script>
<script src="../scripts/amazeui.min.js"></script>