<div class="content">
    <div class="homepage">
        <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
            <ul class="am-slides">
                <li><img src="../images/xiaoxin3.png" /></li>
                <li><img src="../images/xiaoxin4.png" /></li>
            </ul>
        </div>
    </div>
    <div class="home-article">
        <div class="article-module" style="border-bottom: 1px solid;border-right: 1px solid;">
            <h4 class="title">脑洞核聚变</h4>
            <p style="margin: 5px 0 10px;font-size: 16px;">思维在这里交流、碰撞、反应</p>
                <div button style="font-size: 16px;position: absolute;margin: 50px 20px 0 200px;border: 2px solid #0e90d2;padding: 2px 15px 2px 15px;"><a href="../_includes/page-naodong.html">更多</a></div>
        </div>
        <div class="article-module" style="border-bottom: 1px solid;">
            <h4 class="title">一拾化贝</h4>
            <p style="margin: 5px 0 10px;font-size: 16px;">白山原创技术稿件，欢迎投稿</p>
                <div button style="font-size: 16px;position: absolute;margin: 50px 20px 0 200px;border: 2px solid #0e90d2;padding: 2px 15px 2px 15px;"><a href="../_includes/page-yishi.html">更多</a></div>
        </div>
        <div class="article-module" style="border-right: 1px solid;padding-top: 30px;">
            <h4 class="title">资源草料库</h4>
            <p style="margin: 5px 0 10px;font-size: 16px;">点就获取常用代码、文件、软件等资源</p>
                <div button style="font-size: 16px;position: absolute;margin: 40px 20px 0 200px;border: 2px solid #0e90d2;padding: 2px 15px 2px 15px;"><a href="../_includes/page-ziyuan.html">更多</a></div>
        </div>
        <div class="article-module" style="padding-top: 30px;">
            <h4 class="title">攻城狮文化</h4>
            <p style="margin: 5px 0 10px;font-size: 16px;">爱生活，爱代码，爱白山</p>
                <div button style="font-size: 16px;position: absolute;margin: 40px 20px 0 200px;border: 2px solid #0e90d2;padding: 2px 15px 2px 15px;"><a href="../_includes/page-gongcheng.html">更多</a></div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

<div class="hot-article">
    <div style="height: 60px;background-color: #eaebec;box-shadow: 4px 10px 10px #d4d5d6;    z-index: 1;position: relative;">
        <h5 style="margin-left: 60px;font-size: 20px;line-height: 60px;font-weight: 600px">热门文章</h5>
    </div>
    <div class="hot-content" >
        <ul style="margin-left: 40px;list-style-type: disc;">
            <li><a href="https://baishancloud.github.io/tech/distributed/2017/02/01/ec.html">xp的分布式系统系列教程之: Erasure-Code: 工作原理, 数学解释, 实践和分析.</a>
            </li>
            <li><a href="https://baishancloud.github.io/cryptography/2017/05/24/rsa-padding-paulyang.html">浅谈RSA Padding</a></li>
            <li><a href="https://baishancloud.github.io/generic/2017/05/24/epoch-baishancloud-blog-paulyang.html">Epoch of BaishnCloud Blog</a></li>
        </ul>
    </div>

</div>

<div class="hot-article">
    <div style="height: 60px;background-color: #eaebec;box-shadow: 4px 10px 10px #d4d5d6;z-index: 1;position: relative;">
        <h5 style="margin-left: 60px;font-size: 20px;line-height: 60px;font-weight: 600px">高能博主</h5>
    </div>
    <div class="hot-blogs" >
        <ul style="margin-left: 40px;list-style-type: disc;">
            <li><a href="https://baishancloud.github.io/tech/distributed/2017/02/01/ec.html">xp的分布式系统系列教程之: Erasure-Code: 工作原理, 数学解释, 实践和分析.</a>
            </li>
            <li><a href="https://baishancloud.github.io/cryptography/2017/05/24/rsa-padding-paulyang.html">浅谈RSA Padding</a></li>
            <li><a href="https://baishancloud.github.io/generic/2017/05/24/epoch-baishancloud-blog-paulyang.html">Epoch of BaishnCloud Blog</a></li>
        </ul>
    </div>

</div>
<div style="clear: both;"></div>